<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--驼峰命名规则-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--别名-->
    <typeAliases>
        <package name="com.zhangyong.bean"></package>
    </typeAliases>

    <!-- 注册pagehelper,注意位置，在别名后-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--调节参数合理化-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

</configuration>